#!/usr/bin/env sh

# Terminate already running bar instances
killall -q polybar

# Wait until the processes have been shut down
while pgrep -x polybar >/dev/null; do sleep 1; done

# Launch top and bottom
# Launch polybars for every connected monitor
for m in $(xrandr --query | grep " connected" | cut -d" " -f1); do
  {% if launch_file.stat.exists %}
  {% include 'by_host/' + ansible_hostname + '/launch.j2' %}
  {% else %}
     MONITOR=$m polybar top &
     MONITOR=$m polybar bottom &
  {% endif %}
done

echo "Bars launched..."
