# i3 config file (v4)
#
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

# Mod key (super/windows)
set $mod Mod4
set $alt Mod1

# Styling
## Font
font pango:Cabin, FontAwesome 10

## Resolv i3 transparancy bug
default_border pixel

## Colors
# Special
set_from_resource $foreground foreground
set_from_resource $background background
set_from_resource $cursorColor cursorColor
# Black
set_from_resource $color0  color0
set_from_resource $color8  color8
# Red
set_from_resource $color1  color1
set_from_resource $color9  color9
# Green
set_from_resource $color2  color2
set_from_resource $color10 color10
# Yellow
set_from_resource $color3  color3
set_from_resource $color11 color11
# Blue
set_from_resource $color4  color4
set_from_resource $color12 color12
# Grey
set_from_resource $color5  color5
set_from_resource $color13 color13
# Lightgreen
set_from_resource $color6  color6
set_from_resource $color14 color14
# White
set_from_resource $color7  color7
set_from_resource $color15 color15
# class                 border      backgr.     text        indicator   child_border
client.focused          $background $background $foreground $background $background
client.focused_inactive $background $background $foreground $background $background
client.unfocused        $background $background $color8     $background $background
client.urgent           $background $background $color1     $background $background

## Gaps
for_window [class="^.*"] border pixel 0
gaps inner 4
gaps outer -4
smart_gaps on
smart_borders on

# Window control etc
## Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

## Kill window
bindsym $alt+F4 kill

## Change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right
### Alternative. Arrows
bindsym $mod+Left  focus left
bindsym $mod+Down  focus down
bindsym $mod+Up    focus up
bindsym $mod+Right focus right

## Move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right
### Alternative. Arrows
bindsym $mod+Shift+Left  move left
bindsym $mod+Shift+Down  move down
bindsym $mod+Shift+Up    move up
bindsym $mod+Shift+Right move right

## Split in horizontal orientation
bindsym $mod+v split h
## Split in vertical orientation
bindsym $mod+b split v
## Enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

## Change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+z layout tabbed
bindsym $mod+e layout toggle split

## Toggle tiling / floating
bindsym $mod+Shift+f floating toggle
## Change focus between tiling / floating windows
bindsym $mod+x focus mode_toggle

## Focus the parent container
bindsym $mod+a focus parent
## Focus the child container
#bindsym $mod+d focus child

## Toggle Resize
bindsym $mod+r mode "resize"
## Resize window (you can also use the mouse for that)
mode "resize" {
  set $dt 5

  bindsym h resize shrink width  $dt px or $dt ppt
  bindsym j resize grow   height $dt px or $dt ppt
  bindsym k resize shrink height $dt px or $dt ppt
  bindsym l resize grow   width  $dt px or $dt ppt

  bindsym Left  resize shrink width  $dt px or $dt ppt
  bindsym Down  resize grow   height $dt px or $dt ppt
  bindsym Up    resize shrink height $dt px or $dt ppt
  bindsym Right resize grow   width  $dt px or $dt ppt

  # back to normal: Enter or Escape
  bindsym Return mode "default"
  bindsym Escape mode "default"
  bindsym $mod+r mode "default"
}

# Workspaces
set $ws1  "1:"
set $ws2  "2:"
set $ws3  "3:"
set $ws4  "4:"
set $ws5  "5:"
set $ws6  "6:"
set $ws7  "7:"
set $ws8  "8:"
set $ws9  "9:"
set $ws10 "10:"

## Switch to workspace
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws10

## Move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws10

## Reload the configuration file
bindsym $mod+Shift+c reload
## Restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
## Exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exit

## Lock the screen
bindsym Mod1+Shift+x exec betterlockscreen -l blur

# Custom programs
## Rofi
bindsym $mod+Tab   exec --no-startup-id rofi -show window
bindsym $mod+d     exec --no-startup-id rofi -show run
bindsym $mod+space exec --no-startup-id rofi -modi drun -show drun

## Terminal
bindsym $mod+t exec kitty
## Chrome
bindsym $mod+c exec chrome
## Nautilus
bindsym $mod+n exec nautilus


# Startup programs
## Polybar exec
exec_always --no-startup-id $HOME/.config/polybar/launch.sh
# Lock on boot
exec --no-startup-id bash -c 'multilockscreen -l blur'


